//colors

$colorBlue: #04557b;
$colorBlue1: #0680a6;
$colorBlue2: #058ab4;
$colorBlue3: #04739d;
$colorBlue4: #87b3c3;
$colorBlue5: #18a0bb;
$colorBlue6: #044363;
$colorBlue7: #346c86;

$colorGrey: #e7e7e9;
$colorGrey1: #808080;

$colorWhite: #ffffff;

// sizes
$borderRadius: 5rem;
